.section_3 {
  margin-top: 6rem;
  overflow-x: hidden;
}

.section_3_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  @media screen and (max-width: 990px) {
    flex-direction: column;
    align-items: start;
  }
  h1 {
      color: var(--dark-primary);
      font-size: 1.8rem;
      @media screen and (max-width: 990px) {
        margin-bottom: 1rem;
      }
  }
}

.cards {
  padding-block: 1rem;
  cursor: pointer;
}
